{{#debug_mode}}
    {{json}}
{{/debug_mode}}

{{^debug_mode}}
    {{#cached_body}}
        {{>atoms/meta/_head}}
        {{>templates/Exhibitions/Exhibition-Page}}
        {{>atoms/meta/_foot}}
    {{/cached_body}}
{{/debug_mode}}
