{{#debug_mode}}
    {{json}}
{{/debug_mode}}

{{^debug_mode}}
    {{>atoms/meta/_head}}
    {{#cached_body}}
        {{>templates/Exhibitions/Exhibition-Page}}
    {{/cached_body}}
    {{>atoms/meta/_foot}}
{{/debug_mode}}
