{{>atoms/meta/_head}}

{{#elements.present}}
    {{#elements.items}}
        {{#is_text}}
            {{{body}}}
        {{/is_text}}
    {{/elements.items}}
{{/elements.present}}
<pre>{{json}}</pre>


{{>atoms/meta/_foot}}
