notifications:
  email: false
sudo: false
language: ruby
rvm:
  - 2.2.2
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
env:
  - RAILS_ENV=test
services:
  - postgresql
script: "bundle exec rspec"
