notifications:
  email: false
sudo: false
language: ruby
rvm:
  - 2.3.1
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - bundle exec rake db:migrate
env:
  global:
    - RAILS_ENV=test
    - DATABASE_URL=postgres://postgres@localhost/travis_ci_test
    - EUROPEANA_STYLEGUIDE_ASSET_HOST=https://europeana-styleguide-test.s3.amazonaws.com
services:
  - postgresql
script: "bundle exec rspec"
