<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>
    <div class="image">
      <%= el.render :image %>
    </div>
    <div class="image_credit">
      <%= el.render :image_credit %>
    </div>
  <%- end -%>
<%- end -%>
